[submodule "external"]
	path = external
	url = ssh://git@git.akarin.info:30000/perim/lightmetrica-external.git
	branch = master
[submodule "resources"]
	path = resources
	url = ssh://git@git.akarin.info:30000/perim/lightmetrica-resources.git
	branch = master
