[submodule "external"]
	path = external
	url = gitlab-akarin:perim/lightmetrica-external.git
	branch = master
[submodule "resources"]
	path = resources
	url = gitlab-akarin:perim/lightmetrica-resources.git
	branch = master
