[submodule "external"]
	path = external
	url = gitolite-akarin:nanonrender-external
	branch = master
[submodule "resources"]
	path = resources
	url = gitolite-akarin:nanonrender-resources
	branch = master
